.experience_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2rem;
  width: 100%;
  gap: 1rem;

  .experience__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    gap: 0.5rem;

    .card__period {
      font-size: 0.65rem;
    }

    .card__title {
      font-size: 1.25rem;
      font-weight: 600;
      font-family: $ff-secondary;
    }

    .card__desc {
      p {
        margin-bottom: 0.6rem;
        font-size: 0.85rem;
        color: $clr-text-light;

        // &:before {
        //   content: ".";
        //   display: inline-block;
        //   vertical-align: top;
        //   margin-right: 0.4rem;
        //   font-size: 0.7rem;
        //   font-weight: 900;
        //   color: $clr-secondary;
        // }
      }
    }

    // background-color: bisque;
  }

  // background-color: aqua;
}
