.hero {
  display: flex;
  height: 100%;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @media screen and (min-width: 640px) {
    max-width: 768px;
    width: 100%;
    margin: 2rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .hero__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;

    .hero__intro {
      // font-style: italic;
    }

    h1 {
      margin: 0;

      font-family: $ff-secondary;
      font-weight: 900;
      font-size: 3.5rem;

      .title--underline {
        text-decoration: underline;
      }
    }

    h2 {
      margin: 0;

      font-family: $ff-secondary;
      color: #8892b0;
      font-weight: 700;
      font-size: 3.5rem;
    }

    .hero__subtitle {
      margin-top: 0.5rem;
      // font-family: $ff-secondary;
      font-size: 0.85rem;
      width: 90%;
    }
  }

  a {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border: solid 1px $clr-secondary;
    border-radius: 0.25rem;
    background-color: $clr-background;
    color: $clr-secondary;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: $clr-background-light;
    }
  }
}
