$clr-secondary: #64ffda;
$clr-text: #ccd6f6;
$clr-text-light: #a8b2d1;
$clr-white: #e6f1ff;

$clr-background: #0a192f;
$clr-background-light: #233554;

$ff-primary: "Source Code Pro", monospace;
$ff-secondary: "Source Sans Pro", sans-serif;
